:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-accent: #8870AF;

    --input-height: 56px;

    --main-font: "ibmplexsans", sans-serif;
    --font-size-h2: 42px;

    --container-width: 1200px;
    --container-padding-x: 20px;

    --gradient: linear-gradient(0turn, rgba(255, 154, 139, 1) 0%, rgba(97, 72, 170, 1) 100%);
}

$transition-duration: 0.2s;

$border-radius-card: 5px;
$border-radius-input: 7px;
$input-height: 56px;

$breakpoints: (
    sm: 576px,
    // телефоны
    md: 768px,
    // маленькие планшеты
    lg: 1024px,
    // планшеты/ноуты
    xl: 1280px,
    // стандартные десктопы
    xxl: 1440px // широкие мониторы
);